[submodule "3rdparty/megadock"]
	path = 3rdparty/megadock
	url = https://github.com/akiyamalab/MEGADOCK.git
[submodule "3rdparty/alphafold3"]
	path = 3rdparty/alphafold3
	url = https://github.com/google-deepmind/alphafold3.git
[submodule "3rdparty/abcfold"]
	path = 3rdparty/abcfold
	url = https://github.com/rigdenlab/ABCFold.git
