version: '3.9'
services:
  alphafold3:
    container_name: alphafold3_container
    build:
      context: ./3rdparty/alphafold3
      dockerfile: ./../../docker/alphafold3/Dockerfile
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - ./data/input:/root/af_input
      - ./data/output/alphafold3:/root/af_output
      - ${AF_MODELS_DIR}:/root/models
      - ${AF_PUBLIC_DB_DIR}:/root/public_databases
    tty: true
    stdin_open: true
    command: [ "sleep", "infinity" ]

  # abcfold:
  #   container_name: abcfold_container
  #   build:
  #     context: ./3rdparty/abcfold
  #     dockerfile: ./../../docker/abcfold/Dockerfile
  #   deploy:
  #     resources:
  #       reservations:
  #         devices:
  #           - capabilities: [gpu]
  #   environment:
  #     - NVIDIA_VISIBLE_DEVICES=all
  #   volumes:
  #     - ./data/input:/root/af_input
  #     - ./data/output/abcfold:/root/af_output
  #     - ${AF_MODELS_DIR}:/root/models
  #     - ${AF_PUBLIC_DB_DIR}:/root/public_databases
  #   working_dir: /root
  #   tty: true
  #   stdin_open: true
  #   command: [ "sleep", "infinity" ]

  megadock:
    container_name: megadock_container
    build:
      context: ./3rdparty/megadock
      dockerfile: ./../../docker/megadock/Dockerfile
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - ./data/output/alphafold3/receptor:/app/input/receptor
      - ./data/output/alphafold3/ligand:/app/input/ligand
      - ./data/output/megadock:/app/output

    working_dir: /app
    tty: true
    stdin_open: true
    command: [ "sleep", "infinity" ]

  prodigy:
    container_name: prodigy_container
    build:
      dockerfile: ./docker/prodigy/Dockerfile
    volumes:
      - ./data/output/megadock:/app/input
      - ./data/output/prodigy:/app/output
    working_dir: /app
    tty: true
    stdin_open: true
    command: [ "sleep", "infinity" ]
